<h3>Review your report</h3>
<p>If you suspect the individual you are reporting committed more than one offense, click “Add another violation” below. </p>

<hr>

<div class="ref-review">
  <p class="ref-review-label">Individual you suspect violated tax law</p>
  <div class="ref-review-block">
    <form name="$ctrl.contactForm" novalidate ng-submit="$ctrl.updateData();">
      <div class="ref-review-block-title">
        <h5 class="ref-review-block-title-head">{{ $ctrl.values.firstName }} {{ $ctrl.values.lastName }}</h5>
        <a
          href=""
          class="ref-review-block-title-more"
          ng-click="$ctrl.indToggle();"
          ng-if="!$ctrl.indMore">
          View details
        </a>
      </div>

      <div class="ref-review-block-more" ng-show="$ctrl.indMore">
        <fieldset class="ref-fieldset-inputs margin-below">
          <div class="row">
            <div class="col-md-6">
              <label for="firstName">
                First name
                <em class="ref-form-required ">Required</em></label>
              <input
                type="text"
                id="firstName"
                name="firstName"
                required="required"
                ng-model="$ctrl.values.firstName">
            </div>
            <div class="col-md-6">
              <label for="lastName">
                Last name
                <em class="ref-form-required ">Required</em>
              </label>
              <input
                type="text"
                id="lastName"
                name="firstName"
                required="required"
                ng-model="$ctrl.values.lastName">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label for="streetAddress">
                Street address
                <em class="ref-form-required ">Required</em>
              </label>
              <input
                type="text"
                id="streetAddress"
                name="streetAddress"
                required="required"
                ng-model="$ctrl.values.streetAddress">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label for="streetAddressUnit">
                Apartment/Unit/Other
              </label>
              <input
                type="text"
                id="streetAddressUnit"
                name="streetAddressUnit"
                ng-model="$ctrl.values.streetAddressUnit">
            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
              <label for="city">
                City
                <em class="ref-form-required ">Required</em>
              </label>
              <input
                type="text"
                id="city"
                name="city"
                required="required"
                ng-model="$ctrl.values.city">
            </div>

            <div class="col-md-3">
              <label for="state">
                State
                <em class="ref-form-required ">Required</em>
              </label>
              <input
                type="text"
                id="state"
                name="state"
                required="required"
                ng-model="$ctrl.values.state">
            </div>

            <div class="col-md-4">
              <label for="zip">
                ZIP code
                <em class="ref-form-required ">Required</em>
              </label>
              <input
                type="text"
                id="zip"
                name="zip"
                required="required"
                ng-model="$ctrl.values.zip">
            </div>
          </div>
        </fieldset>

        <fieldset class="ref-fieldset-inputs">
          <div class="row">
            <div class="col-md-6">
              <label for="ssn">
                Social Security Number
              </label>
              <input
                type="text"
                id="ssn"
                name="ssn"
                ng-model="$ctrl.values.ssn">
            </div>

            <div class="col-md-6">
              <label for="dob">
                Date of birth or approximate age
              </label>
              <input
                type="text"
                id="dob"
                name="dob"
                ng-model="$ctrl.values.dob">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label for="email">
                Email address
              </label>
              <input
                type="text"
                id="email"
                name="email"
                ng-model="$ctrl.values.email">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label for="occupation">
                Occupation
              </label>
              <input
                type="text"
                id="occupation"
                name="occupation"
                ng-model="$ctrl.values.occupation">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label for="maritalStatus">Marital status</label>
              <select
                name="maritalStatus"
                id="maritalStatus"
                ng-model="$ctrl.values.maritalStatus">
                <option value="single">Single</option>
                <option value="married">Married</option>
              </select>
            </div>

            <div class="col-md-8">
              <label for="spouseName">
                Spouse's name
              </label>
              <input
                type="text"
                id="spouseName"
                name="spouseName"
                ng-model="$ctrl.values.spouseName">
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <label for="relationship">How do you know this person?</label>
              <select
                name="relationship"
                id="relationship"
                ng-model="$ctrl.values.relationship">
                <option value="friend">Friend</option>
                <option value="relative">Relative</option>
                <option value="coworker">Coworker</option>
                <option value="neighbor">Neighbor</option>
                <option value="ex">Ex or former spouse</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Do you consider this person to be dangerous?</p>

                  <input
                    type="radio"
                    id="dangerYes"
                    value="yes"
                    name="radios"
                    ng-model="$ctrl.radio">
                  <label for="dangerYes">
                    Yes
                  </label>

                  <input
                    type="radio"
                    id="dangerNo"
                    value="no"
                    name="radios"
                    ng-model="$ctrl.radio">
                  <label for="dangerNo">
                    No / Don't know
                  </label>
            </div>
          </div>
        </fieldset>

        <hr>

        <div class="ref-btn-area">
          <button
            ng-if="$ctrl.contactForm.$pristine"
            class="btn btn-primary pull-right"
            ng-class="{ 'btn-disabled' : $ctrl.contactForm.$invalid }"
            type="button"
            ng-click="$ctrl.indToggle();">
            Close
          </button>
          <button
            ng-if="$ctrl.contactForm.$dirty"
            class="btn btn-primary pull-right"
            ng-class="{ 'btn-disabled' : $ctrl.contactForm.$invalid }"
            type="submit"
            ng-disabled="$ctrl.contactForm.$invalid">
            Save changes
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Business -->
  <div ng-if="$ctrl.values.hasBiz === 'yes'">
    <p class="ref-review-label">Suspect's small business</p>
    <div class="ref-review-block">
      <form name="$ctrl.bizContactForm" novalidate ng-submit="$ctrl.updateData();">
        <div class="ref-review-block-title">
          <h5 class="ref-review-block-title-head">{{ $ctrl.values.bizName }}</h5>
          <a
            href=""
            class="ref-review-block-title-more"
            ng-click="$ctrl.bizToggle();"
            ng-if="!$ctrl.bizMore">
            View details
          </a>
        </div>

        <div class="ref-review-block-more" ng-show="$ctrl.bizMore">
          <fieldset class="ref-fieldset-inputs">
            <div class="row">
              <div class="col-md-12">
                <label for="bizName">
                  Business name
                  <em class="ref-form-required ">Required</em></label>
                <input
                  type="text"
                  id="bizName"
                  name="bizName"
                  required="required"
                  ng-model="$ctrl.values.bizName">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="bizStreetAddress">
                  Street address
                  <em class="ref-form-required ">Required</em>
                </label>
                <input
                  type="text"
                  id="bizStreetAddress"
                  name="bizStreetAddress"
                  required="required"
                  ng-model="$ctrl.values.bizStreetAddress">
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <label for="bizStreetAddressUnit">
                  Suite/Unit/Other
                </label>
                <input
                  type="text"
                  id="bizStreetAddressUnit"
                  name="bizStreetAddressUnit"
                  ng-model="$ctrl.values.bizStreetAddressUnit">
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <label for="bizCity">
                  City
                  <em class="ref-form-required ">Required</em>
                </label>
                <input
                  type="text"
                  id="bizCity"
                  name="bizCity"
                  required="required"
                  ng-model="$ctrl.values.bizCity">
              </div>

              <div class="col-md-3">
                <label for="bizState">
                  State
                  <em class="ref-form-required ">Required</em>
                </label>
                <input
                  type="text"
                  id="bizState"
                  name="bizState"
                  required="required"
                  ng-model="$ctrl.values.bizState">
              </div>

              <div class="col-md-4">
                <label for="bizZip">
                  ZIP code
                  <em class="ref-form-required ">Required</em>
                </label>
                <input
                  type="text"
                  id="bizZip"
                  name="bizZip"
                  required="required"
                  ng-model="$ctrl.values.bizZip">
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="bizPhone">
                  Phone
                </label>
                <input
                  type="text"
                  id="bizPhone"
                  name="bizPhone"
                  ng-model="$ctrl.values.bizPhone">
              </div>

              <div class="col-md-6">
                <label for="bizTin">
                  TIN/EIN
                </label>
                <input
                  type="text"
                  id="bizTin"
                  name="bizTin"
                  ng-model="$ctrl.values.bizTin">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="bizEmail">
                  Email address
                </label>
                <input
                  type="text"
                  id="bizEmail"
                  name="bizEmail"
                  ng-model="$ctrl.values.bizEmail">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="bizUrl">
                  Website
                </label>
                <input
                  type="text"
                  id="bizUrl"
                  name="bizUrl"
                  ng-model="$ctrl.values.bizUrl">
              </div>
            </div>
          </fieldset>

          <hr>

          <div class="ref-btn-area">
            <button
              ng-if="$ctrl.bizContactForm.$pristine"
              class="btn btn-primary pull-right"
              ng-class="{ 'btn-disabled' : $ctrl.bizContactForm.$invalid }"
              type="button"
              ng-click="$ctrl.bizToggle();">
              Close
            </button>
            <button
              ng-if="$ctrl.bizContactForm.$dirty"
              class="btn btn-primary pull-right"
              ng-class="{ 'btn-disabled' : $ctrl.bizContactForm.$invalid }"
              type="submit"
              ng-disabled="$ctrl.bizContactForm.$invalid">
              Save changes
            </button>


          </div>
        </div>
      </form>
    </div>
  </div> <!--ng-if for biz -->

  <!-- violations -->
  <p class="ref-review-label">Suspected violation(s)</p>
  <div class="ref-review-block" ng-repeat="violation in $ctrl.values.violations">
    <form name="$ctrl.bizContactForm{{$index}}" novalidate ng-submit="$ctrl.updateData();">
      <div class="ref-review-block-title">
        <h5 class="ref-review-block-title-head">{{ violation.violation }}</h5>
        <a
          href=""
          class="ref-review-block-title-more"
          ng-click="$ctrl.bizToggle();"
          ng-if="!$ctrl.bizMore">
          View details
        </a>
      </div>

      <div class="ref-review-block-more" ng-show="$ctrl.violationMore">
        more
      </div>
    </form>


  </div>
  <div class="ref-add-violation">
    <a ui-sref="nc.indViolationType" class="">Add another violation</a>
  </div>



  <!-- Self id -->
  <p class="ref-review-label">Your information</p>
  <div class="ref-review-block">
    <form name="$ctrl.selfIdForm" novalidate ng-submit="$ctrl.updateData();">
      <div class="ref-review-block-title">
        <h5
          class="ref-review-block-title-head"
          ng-if="$ctrl.values.selfId === 'no'">
          Submitting anonymously
        </h5>
        <h5
          class="ref-review-block-title-head"
          ng-if="$ctrl.values.selfId === 'yes'">
          {{ $ctrl.values.selfIdContact.firstName }} {{ $ctrl.values.selfIdContact.lastName }}
        </h5>
        <a
          href=""
          class="ref-review-block-title-more"
          ng-click="$ctrl.indToggle();">
          View details
        </a>
      </div>
    </form>
  </div>
</div>

<hr>

<div class="ref-btn-area">
  <button
    type="button"
    class="btn btn-secondary pull-left"
    ng-click="$ctrl.back();">
    Back
  </button>
  <button
    class="btn btn-primary pull-right"
    type="submit"
    ng-click="$ctrl.onSubmit();"
    ng-class="{ 'btn-disabled' : $ctrl.contactForm.$invalid ||  $ctrl.bizContactForm.$invalid }"
    ng-disabled="$ctrl.contactForm.$invalid ||  $ctrl.bizContactForm.$invalid">
    Submit report
  </button>
</div>
