<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a
        href=""
        class="debug-toggle"
        ng-click="$ctrl.showDev = !$ctrl.showDev">
        Toggle dev helpers
      </a>
    </div>
  </div>
</div>
<div ng-if="$ctrl.showDev">
  <div class="debug-container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <form
            name="debugData"
            novalidate
            ng-submit="$ctrl.fillData($ctrl.scenario);">
            Data fill
            <select ng-model="$ctrl.scenario">
              <option value="noFile">Didn't file a return</option>
              <option value="acceptedGoods">Accept goods or services</option>
            </select>
            <button class="btn btn-primary btn-xs">
              Populate data
            </button>
          </form>
        </div>
        <div class="col-md-4">
          <form
            name="debugJump"
            novalidate
            ng-submit="$ctrl.jumpTo($ctrl.jumpLocation)">
            Jump to
            <select
              name="jumpTo"
              ng-model="$ctrl.jumpLocation">
              <option value="landing">Landing</option>
              <optgroup label="NC">
                <option value="nc.prescreen">prescreen</option>
                <option value="nc.whistleblower">whistleblower</option>
                <option value="nc.suspectType">suspectType</option>
                <option value="nc.indContact">ind-contact</option>
                <option value="nc.indBusiness">ind-business</option>
                <option value="nc.indViolationType">ind-violation-type</option>
                <option value="nc.indViolationsNofile">ind-violations-nofile</option>
                <option value="nc.indViolationsIncome">ind-violations-income</option>
                <option value="nc.indViolationsIncomeDetails">ind-violations-income-details</option>
                <option value="nc.evidence">evidence</option>
              </optgroup>
            </select>
            <button class="btn btn-primary btn-xs">
              Jump to page
            </button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <pre class="debug-pre">{{ $ctrl.values | json }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
