.debug-container
  padding: 1em
  margin-top: 0.5em
  background: $lightest-gray

  pre.debug-pre
    margin-top: 2em
    font-size: 12px


.debug-toggle
  font-size: 13px
  background: white
  // border: solid 1px $lightest-gray
  color: #999
  margin-top: 5em
