.ref-review-label
  font-size: 14px
  color: $color-gray
  margin: 1em 0 0.25em 0

  &.violation-label
    margin-top: 2em

.ref-review-block
  margin-bottom: 0.5em
  padding: 1em
  background: $light-blue

  &.violation-block
    background: $light-yellow

  h4
    margin: 0
    font-size: 1em
    font-weight: bold

.ref-review-block-more
  margin-top: 1.5em

  table
    width: 100%
    font-size: 15px
    td
      border-bottom: solid 1px darken($light-blue, 10%)
    td:first-child
      padding-right: 1em
      color: $color-gray
      width: 30%
