.ref-header
  @include clearfix
  margin-bottom: 50px
  border-bottom: solid 1px $mid-dark-gray
  // padding-bottom: 20px

  h1
    font-weight: bold
    margin-bottom: 0.5em
    font-family: 'Merriweather'

  p.lead
    font-size: $lead-font-size
    font-weight: normal

.ref-header.ref-header__progress
  h1
    font-size: 15px
    line-height: 1
    margin: 20px 0
