<h1 class="serif">Thank you for your submission</h1>
<p>We’ve received your tip and the IRS fraud department will review it and take appropriate action. You won’t receive any updates about this report.</p>

<h5 class="margin-top-2">Need to send evidence such as tax returns, records or receipts?</h5>
<p>If you need to mail additional documents, records or other evidence related to this report, please include the reference number #1672218 or simply download, print and include the mailing slip.</p>
<a href="" class="ref-download pdf">Download mailing slip</a>

<p class="margin-top-2">
  <a href="">Report another incidence of fraud</a>
</p>
