<div class="ref-progress">
  <div class="progress-step active">
    <i class="progress-step-number">1</i>
    <span class="progress-step-label">Prescreen</span>
  </div>
  <div class="progress-step">
    <i class="progress-step-number">2</i>
    <span class="progress-step-label">Suspect details</span>
  </div>
  <div class="progress-step">
    <i class="progress-step-number">3</i>
    <span class="progress-step-label">Violation details</span>
  </div>
  <div class="progress-step">
    <i class="progress-step-number">4</i>
    <span class="progress-step-label">Review</span>
  </div>
</div>
