@import 'bootstrap'
@import 'bourbon/bourbon'
@import 'variables'
@import 'fonts'
@import 'mixins'
@import 'utilities'
@import 'typography'

body
  font-family: 'Source Sans Pro'
  font-size: 16px
  overflow-x: hidden
  // background: url('../images/swirl.png')

.container
  // Added to prevent horizontal scrolling on mobile
  overflow-x: hidden

.serif
  font-family: 'Merriweather'

h1, h2, h3, h4, h5
  font-weight: bold

h5
  font-size: 1em

.margin-top-2
  margin-top: 2em

.margin-top-1
  margin-top: 1em

.margin-bottom-2
  margin-bottom: 2em

.margin-bottom-1
  margin-bottom: 1em
