<h3>Who are you reporting?</h3>
<p>Basic contact information is required because we can't act on your report without it</p>
<hr>

<form name="contactForm" novalidate ng-submit="$ctrl.onSubmit();">
  <fieldset class="ref-fieldset-inputs margin-below">
    <div class="row">
      <div class="col-md-6">
        <label for="firstName">
          First name
          <em class="ref-form-required ">Required</em></label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          required="required"
          ng-model="$ctrl.firstName">
      </div>
      <div class="col-md-6">
        <label for="lastName">
          Last name
          <em class="ref-form-required ">Required</em>
        </label>
        <input
          type="text"
          id="lastName"
          name="firstName"
          required="required"
          ng-model="$ctrl.lastName">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="streetAddress">
          Street address
          <em class="ref-form-required ">Required</em>
        </label>
        <input
          type="text"
          id="streetAddress"
          name="streetAddress"
          required="required"
          ng-model="$ctrl.streetAddress">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="streetAddressUnit">
          Apartment/Unit/Other
        </label>
        <input
          type="text"
          id="streetAddressUnit"
          name="streetAddressUnit"
          ng-model="$ctrl.streetAddressUnit">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label for="city">
          City
          <em class="ref-form-required ">Required</em>
        </label>
        <input
          type="text"
          id="city"
          name="city"
          ng-model="$ctrl.city">
      </div>

      <div class="col-md-3">
        <label for="state">
          State
          <em class="ref-form-required ">Required</em>
        </label>
        <input
          type="text"
          id="state"
          name="state"
          ng-model="$ctrl.state">
      </div>

      <div class="col-md-3">
        <label for="zip">
          ZIP code
          <em class="ref-form-required ">Required</em>
        </label>
        <input
          type="text"
          id="zip"
          name="zip"
          ng-model="$ctrl.zip">
      </div>
    </div>
  </fieldset>

  <h3>Optional details</h3>
  <p>These aren’t required but help us accurately indentify the person you’re reporting</p>
  <hr>

  <fieldset class="ref-fieldset-inputs">

    <div class="row">
      <div class="col-md-6">
        <label for="ssn">
          Social Security Number
        </label>
        <input
          type="text"
          id="ssn"
          name="ssn"
          ng-model="$ctrl.ssn">
      </div>

      <div class="col-md-6">
        <label for="dob">
          Date of birth or approximate age
        </label>
        <input
          type="text"
          id="dob"
          name="dob"
          ng-model="$ctrl.dob">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="email">
          Email address
        </label>
        <input
          type="text"
          id="email"
          name="email"
          ng-model="$ctrl.email">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="occupation">
          Occupation
        </label>
        <input
          type="text"
          id="occupation"
          name="occupation"
          ng-model="$ctrl.occupation">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="maritalStatus">Marital status</label>
        <select
          name="maritalStatus"
          id="maritalStatus"
          ng-model="$ctrl.maritalStatus">
          <option value="single">Single</option>
          <option value="married">Married</option>
        </select>
      </div>

      <div class="col-md-8">
        <label for="spouseName">
          Spouse's name
        </label>
        <input
          type="text"
          id="spouseName"
          name="spouseName"
          ng-model="$ctrl.spouseName">
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <label for="relationship">How do you know this person?</label>
        <select
          name="relationship"
          id="relationship"
          ng-model="$ctrl.relationship">
          <option value="friend">Friend</option>
          <option value="relative">Relative</option>
          <option value="coworker">Coworker</option>
          <option value="neighbor">Neighbor</option>
          <option value="ex">Ex or former spouse</option>
          <option value="other">Other</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>Do you consider this person to be dangerous?</p>

            <input
              type="radio"
              id="dangerYes"
              value="dangerYes"
              name="radios"
              ng-model="$ctrl.radio">
            <label for="dangerYes">
              Yes
            </label>

            <input
              type="radio"
              id="dangerNo"
              value="dangerNo"
              name="radios"
              ng-model="$ctrl.radio">
            <label for="dangerNo">
              No / Don't know
            </label>
      </div>
    </div>
  </fieldset>

  <hr>

  <div class="ref-btn-area">
    <button
      class="btn btn-secondary pull-left"
      type="button"
      ng-click="$ctrl.back();">
      Back
    </button>
    <button
      class="btn btn-primary pull-right"
      ng-class="{ 'btn-disabled' : contactForm.$invalid }"
      type="submit"
      ng-disabled="contactForm.$invalid">
      Continue
    </button>
  </div>
</form>
