<h1>Identity theft</h1>

<p>If you, a dependent or a deceased family member’s social security number has been used for employment, on a false tax return, or you think it could be used for a false tax return, you need to complete IRS Form 14039.</p>

<p><a href="">Download Form 14039</a></p>

<p>Complete the form, print it and mail or fax to the appropriate office using the options listed on page 2 of the form. Include photocopies of at least one of the documents listed on the form to verify your identity.</p>

<p>For additional information, refer to the <a href="">Taxpayer Guide to Identity Theft.</a></p>
